{% "bootstrap/base.html" %}

{% block title %}Southey Honda & Nissan{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
    {% block page_content %}{% endblock %}
{% endblock %}

{% block footer %}
    <div class="container">
        <img src="{{ url_for('static', filename='yardfade.png') }}" alt="bottom pic" class="center">
        Southey's Auto World Ltd/Southey Honda & Nissan. - Cnr Park and Dixon Street, Masterton, New Zealand.<br>
        Phone: (06) 378 2543 or Email Direct
        <h3> Southey's Auto World Ltd/Southey Honda & Nissan </h3>
    </div>
{% endblock %}