{% extends "bootstrap/base.html" %}

{% block title %}My Application{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block navbar %}
  <div class="navbar">
    <a href="/DevHome">Home</a>
    <a href="/contents">Our Stock</a>
    <a href="https://www.nissan.co.nz/">New Nissan</a>
    <a href="https://www.honda.co.nz/new-cars/">New Honda</a>
    <a href="/add-listing">Add Listing</a>
  </div>
{% endblock %}

{% block content %}
  <div class="container mt-4">
    {% block page_content %}{% endblock %}
  </div>
{% endblock %}

{% block styles %}
{% endblock %}


{% block scripts %}
  {{ super() }}
  <script src="static/java.js"></script>
{% endblock %}