
<!-- Navbar HTML template - Non fuctional -->
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/contents">Our Stock</a>
            <a class="nav-item nav-link" href="{{ url_for('new_nissan') }}">New Nissan</a>
            <a class="nav-item nav-link" href="{{ url_for('new_honda') }}">New Honda</a>
            <a class="nav-item nav-link" href="/DevHome">DevHome</a>
        </div>
    </div>
</nav>
{% endblock %}